node_modules/
dist/
configs/players/
logs/*.log
logs/*.txt
logs/*.json
logs/crashes/
*.exe
*.apk
*.fap
!phone/flipperzero/PotatoStrikeMini-1.3-FINAL-PATCH-1.1-official.fap
!phone/flipperzero/PotatoStrikeMini-1.3-FINAL-PATCH-1.1-momentum.fap
!phone/flipperzero/PotatoStrikeMini-1.3-FINAL-PATCH-1.1-unleashed.fap
PotatoStrike-*.zip
phone/android/.gradle/
phone/android/app/build/
phone/flipperzero/dist/
phone/flipperzero/.vscode/
PotatoStrike-Linux.txt
npm-debug.log*
.DS_Store
texture/*.wad
